src/main/resources/xsd/svedmedpom_h.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="schet">
      <xsd:sequence>
         <xsd:element name="CODE" type="xsd:int"/>
         <xsd:element name="CODE_MO" type="xsd:string"/>
         <xsd:element name="YEAR" type="xsd:short"/>
         <xsd:element name="MONTH" type="xsd:short"/>
         <xsd:element name="NSCHET" type="xsd:string"/>
         <xsd:element name="DSCHET" type="xsd:date"/>
         <xsd:element name="PLAT" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SUMMAV" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="COMENTS" type="xsd:string"/>
         <xsd:element name="SUMMAP" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_MEK" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_MEE" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_EKMP" type="xsd:decimal" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="schetZap">
      <xsd:sequence>
         <xsd:element name="N_ZAP" type="xsd:int"/>
         <xsd:element name="PR_NOV" type="xsd:short"/>
         <xsd:element name="PACIENT" type="pacient"/>
         <xsd:element name="Z_SL" minOccurs="1">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IDCASE" type="xsd:long"/>
                  <xsd:element name="USL_OK" type="xsd:short"/>
                  <xsd:element name="VIDPOM" type="xsd:short"/>
                  <xsd:element name="FOR_POM" type="xsd:short"/>
                  <xsd:element name="NPR_MO" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="EXTR" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="NPR_DATE" type="xsd:date" minOccurs="0"/>
                  <xsd:element name="LPU" type="xsd:string"/>
                  <xsd:element name="DATE_Z_1" type="xsd:date"/>
                  <xsd:element name="DATE_Z_2" type="xsd:date"/>
                  <xsd:element name="KD_Z" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="VNOV_M" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                  <xsd:element name="RSLT" type="xsd:short"/>
                  <xsd:element name="ISHOD" type="xsd:short"/>
                  <xsd:element name="OS_SLUCH" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                  <xsd:element name="VB_P" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="SL" type="sluch" maxOccurs="unbounded"/>
                  <xsd:element name="IDSP" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="SUMV" type="xsd:decimal" minOccurs="0"/>
                  <xsd:element name="OPLATA" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="SUMP" type="xsd:decimal" minOccurs="0"/>
                  <xsd:element name="SANK_IT" type="xsd:decimal" minOccurs="0"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="pacient">
      <xsd:sequence>
         <xsd:element name="ID_PAC" type="xsd:string"/>
         <xsd:element name="VPOLIS" type="xsd:short"/>
         <xsd:element name="SPOLIS" type="xsd:string" minOccurs="0"/>
         <xsd:element name="NPOLIS" type="xsd:string"/>
         <xsd:element name="ST_OKATO" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_OGRN" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_OK" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_NAM" type="xsd:string" minOccurs="0"/>
         <xsd:element name="INV" type="xsd:short" minOccurs="0"/>
         <xsd:element name="MSE" type="xsd:short" minOccurs="0"/>
         <xsd:element name="NOVOR" type="xsd:string"/>
         <xsd:element name="VNOV_D" type="xsd:short" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="sluch">
      <xsd:sequence>
         <xsd:element name="SL_ID" type="xsd:string"/>
         <xsd:element name="LPU_1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="PODR" type="xsd:long" minOccurs="0"/>
         <xsd:element name="PROFIL" type="xsd:short"/>
         <xsd:element name="PROFIL_K" type="xsd:short" minOccurs="0"/>
         <xsd:element name="DET" type="xsd:short"/>
         <xsd:element name="P_CEL" type="xsd:string" minOccurs="0"/>
         <xsd:element name="NHISTORY" type="xsd:string"/>
         <xsd:element name="P_PER" type="xsd:short" minOccurs="0"/>
         <xsd:element name="DATE_1" type="xsd:date"/>
         <xsd:element name="DATE_2" type="xsd:date"/>
         <xsd:element name="KD" type="xsd:short" minOccurs="0"/>
         <xsd:element name="WEI" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="DS0" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DS1" type="xsd:string"/>
         <xsd:element name="DS2" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="DS3" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="C_ZAB" type="xsd:short" minOccurs="0"/>
         <xsd:element name="DN" type="xsd:short" minOccurs="0"/>
         <xsd:element name="CODE_MES1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="CODE_MES2" type="xsd:string" minOccurs="0"/>
         <xsd:element name="KSG_KPG" type="KSG_KPG" minOccurs="0"/>
         <xsd:element name="REAB" type="xsd:short" minOccurs="0"/>
         <xsd:element name="PRVS" type="xsd:int"/>
         <xsd:element name="VERS_SPEC" type="xsd:string"/>
         <xsd:element name="IDDOKT" type="xsd:string"/>
         <xsd:element name="ED_COL" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="TARIF" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SUM_M" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="LEK_PR" type="LEK_PR" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="USL" type="uslug" maxOccurs="unbounded"/>
         <xsd:element name="COMENTSL" type="xsd:string" minOccurs="0"/>
         <xsd:element name="krim" type="xsd:short" minOccurs="0"/>
         <xsd:element name="nstr" type="xsd:int" minOccurs="0"/>
         <xsd:element name="DATE_XO" type="xsd:date" minOccurs="0"/>
         <xsd:element name="MO_NPR" type="xsd:string" minOccurs="0"/>
         <xsd:element name="OTDEL_NPR" type="xsd:int" minOccurs="0"/>
         <xsd:element name="PROF_NPR" type="xsd:short" minOccurs="0"/>
         <xsd:element name="PRIZN_NPR" type="xsd:short" minOccurs="0"/>
         <xsd:element name="NUM_NPR" type="xsd:string" minOccurs="0"/>
         <xsd:element name="PLAN_DATE_G" type="xsd:date" minOccurs="0"/>
         <xsd:element name="TIME_G" type="xsd:string" minOccurs="0"/>
         <xsd:element name="KOD_ANATOM" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="uslug">
      <xsd:sequence>
         <xsd:element name="IDSERV" type="xsd:string"/>
         <xsd:element name="N_s" type="xsd:int" minOccurs="0"/>
         <xsd:element name="LPU" type="xsd:string"/>
         <xsd:element name="LPU_1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="PODR" type="xsd:long" minOccurs="0"/>
         <xsd:element name="PROFIL" type="xsd:short"/>
         <xsd:element name="VID_VME" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DET" type="xsd:short"/>
         <xsd:element name="DATE_IN" type="xsd:date"/>
         <xsd:element name="DATE_OUT" type="xsd:date"/>
         <xsd:element name="DS" type="xsd:string"/>
         <xsd:element name="CODE_USL" type="xsd:string"/>
         <xsd:element name="KOL_USL" type="xsd:decimal"/>
         <xsd:element name="TARIF" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SUMV_USL" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="MED_DEV" type="MED_DEV" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="MR_USL_N" type="MR_USL_N" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PRVS" type="xsd:int"/>
         <xsd:element name="CODE_MD" type="xsd:string"/>
         <xsd:element name="NPL" type="xsd:short" minOccurs="0"/>
         <xsd:element name="COMENTU" type="xsd:string" minOccurs="0"/>
         <xsd:element name="LEK" type="LEK" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="VBI" type="xsd:short" minOccurs="0"/>
         <xsd:element name="GILL" type="xsd:short" minOccurs="0"/>
         <xsd:element name="PR_UM" type="xsd:short" minOccurs="0"/>
         <xsd:element name="VID_TARIF" type="xsd:short" minOccurs="0"/>
         <xsd:element name="SUM_VIRT" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="POS_DOM" type="xsd:short" minOccurs="0"/>
         <xsd:element name="KOL_ANEST" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="KOL_DN_RE" type="xsd:short" minOccurs="0"/>
         <xsd:element name="SOV2" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DOV2" type="xsd:date" minOccurs="0"/>
         <xsd:element name="CNA_DOZ" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="TM_SMP" type="xsd:short" minOccurs="0"/>
         <xsd:element name="AIM_SMP" type="xsd:short" minOccurs="0"/>
         <xsd:element name="EKO" type="xsd:short" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="svedMedpom">
      <xsd:sequence>
         <xsd:element name="ZGLV" type="zglv"/>
         <xsd:element name="SCHET" type="schet"/>
         <xsd:element name="ZAP" type="schetZap" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="KSG_KPG">
      <xsd:sequence>
         <xsd:element name="N_KSG" type="xsd:string" minOccurs="0"/>
         <xsd:element name="VER_KSG" type="xsd:short" minOccurs="0"/>
         <xsd:element name="KSG_PG" type="xsd:short" minOccurs="0"/>
         <xsd:element name="N_KPG" type="xsd:string" minOccurs="0"/>
         <xsd:element name="KOEF_Z" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="KOEF_UP" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="BZTSZ" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="KOEF_D" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="KOEF_U" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="CRIT" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="SL_K" type="xsd:short"/>
         <xsd:element name="IT_SL" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SL_KOEF" type="SL_KOEF" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SL_KOEF">
      <xsd:sequence>
         <xsd:element name="IDSL" type="xsd:short"/>
         <xsd:element name="Z_SL" type="xsd:decimal" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEK_PR">
      <xsd:sequence>
         <xsd:element name="DATA_INJ" type="xsd:date"/>
         <xsd:element name="CODE_SH" type="xsd:string"/>
         <xsd:element name="REGNUM" type="xsd:string" minOccurs="0"/>
         <xsd:element name="COD_MARK" type="xsd:string" minOccurs="0"/>
         <xsd:element name="LEK_DOSE" type="LEK_DOSE" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEK_DOSE">
      <xsd:sequence>
         <xsd:element name="ED_IZM" type="xsd:string"/>
         <xsd:element name="DOSE_INJ" type="xsd:decimal"/>
         <xsd:element name="METHOD_INJ" type="xsd:string"/>
         <xsd:element name="COL_INJ" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MED_DEV">
      <xsd:sequence>
         <xsd:element name="DATE_MED" type="xsd:date"/>
         <xsd:element name="CODE_MEDDEV" type="xsd:int"/>
         <xsd:element name="NUMBER_SER" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MR_USL_N">
      <xsd:sequence>
         <xsd:element name="MR_N" type="xsd:int"/>
         <xsd:element name="PRVS" type="xsd:int"/>
         <xsd:element name="CODE_MD" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEK">
      <xsd:sequence>
         <xsd:element name="TRN" type="xsd:string"/>
         <xsd:element name="FVP" type="xsd:string"/>
         <xsd:element name="OPIS" type="xsd:string" minOccurs="0"/>
         <xsd:element name="KOL_ls" type="xsd:decimal"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="zglv">
      <xsd:sequence>
         <xsd:element name="VERSION" type="xsd:string"/>
         <xsd:element name="DATA" type="xsd:date"/>
         <xsd:element name="FILENAME" type="xsd:string"/>
         <xsd:element name="SD_Z" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZL_LIST" type="svedMedpom"/>
</xsd:schema>
