src/main/resources/xsd/svedmedpom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
      
  
  <xs:complexType name="svedMedpom">
        
    <xs:annotation>
            
      <xs:documentation><![CDATA[<p>Java class for svedMedpom complex type.
<p>The following schema fragment specifies the expected content contained within this class.
<pre>
&lt;complexType name="svedMedpom"&gt;
  &lt;complexContent&gt;
    &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType"&gt;
      &lt;sequence&gt;
        &lt;element name="ZGLV" type="{}zglv"/&gt;
        &lt;element name="SCHET" type="{}schet"/&gt;
        &lt;element name="ZAP" type="{}schetZap" maxOccurs="unbounded"/&gt;
      &lt;/sequence&gt;
    &lt;/restriction&gt;
  &lt;/complexContent&gt;
&lt;/complexType&gt;
</pre>]]></xs:documentation>
          
    </xs:annotation>
            
    
    <xs:sequence>
                  
      
      <xs:element name="ZGLV" type="zglv"/>
                  
      
      <xs:element name="SCHET" type="schet"/>
                  
      
      <xs:element maxOccurs="unbounded" name="ZAP" type="schetZap"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="zglv">
            
    
    <xs:sequence>
                  
      
      <xs:element name="VERSION" type="xs:string"/>
                  
      
      <xs:element name="DATA" type="xs:date"/>
                  
      
      <xs:element name="FILENAME" type="xs:string"/>
                  
      
      <xs:element name="SD_Z" type="xs:int"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="schet">
            
    
    <xs:sequence>
                  
      
      <xs:element name="CODE" type="xs:int"/>
                  
      
      <xs:element name="CODE_MO" type="xs:string"/>
                  
      
      <xs:element name="YEAR" type="xs:short"/>
                  
      
      <xs:element name="MONTH" type="xs:short"/>
                  
      
      <xs:element name="NSCHET" type="xs:string"/>
                  
      
      <xs:element name="DSCHET" type="xs:date"/>
                  
      
      <xs:element minOccurs="0" name="PLAT" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SUMMAV" type="xs:decimal"/>
                  
      
      <xs:element name="COMENTS" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SUMMAP" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="SANK_MEK" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="SANK_MEE" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="SANK_EKMP" type="xs:decimal"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="schetZap">
            
    
    <xs:sequence>
                  
      
      <xs:element name="N_ZAP" type="xs:int"/>
                  
      
      <xs:element name="PR_NOV" type="xs:short"/>
                  
      
      <xs:element name="PACIENT" type="pacient"/>
                  
      
      <xs:element name="Z_SL">
                        
        
        <xs:complexType>
                              
          
          <xs:sequence>
                                    
            
            <xs:element name="IDCASE" type="xs:long"/>
                                    
            
            <xs:element name="USL_OK" type="xs:short"/>
                                    
            
            <xs:element name="VIDPOM" type="xs:short"/>
                                    
            
            <xs:element name="FOR_POM" type="xs:short"/>
                                    
            
            <xs:element minOccurs="0" name="NPR_MO" type="xs:string"/>
                                    
            
            <xs:element minOccurs="0" name="EXTR" type="xs:short"/>
                                    
            
            <xs:element minOccurs="0" name="NPR_DATE" type="xs:date"/>
                                    
            
            <xs:element name="LPU" type="xs:string"/>
                                    
            
            <xs:element name="DATE_Z_1" type="xs:date"/>
                                    
            
            <xs:element name="DATE_Z_2" type="xs:date"/>
                                    
            
            <xs:element minOccurs="0" name="KD_Z" type="xs:short"/>
                                    
            
            <xs:element maxOccurs="unbounded" minOccurs="0" name="VNOV_M" type="xs:int"/>
                                    
            
            <xs:element name="RSLT" type="xs:short"/>
                                    
            
            <xs:element name="ISHOD" type="xs:short"/>
                                    
            
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OS_SLUCH" type="xs:int"/>
                                    
            
            <xs:element minOccurs="0" name="VB_P" type="xs:short"/>
                                    
            
            <xs:element maxOccurs="unbounded" name="SL" type="sluch"/>
                                    
            
            <xs:element minOccurs="0" name="IDSP" type="xs:short"/>
                                    
            
            <xs:element minOccurs="0" name="SUMV" type="xs:decimal"/>
                                    
            
            <xs:element minOccurs="0" name="OPLATA" type="xs:short"/>
                                    
            
            <xs:element minOccurs="0" name="SUMP" type="xs:decimal"/>
                                    
            
            <xs:element minOccurs="0" name="SANK_IT" type="xs:decimal"/>
                                  
          
          </xs:sequence>
                            
        
        </xs:complexType>
                      
      
      </xs:element>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="pacient">
            
    
    <xs:sequence>
                  
      
      <xs:element name="ID_PAC" type="xs:string"/>
                  
      
      <xs:element name="VPOLIS" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="SPOLIS" type="xs:string"/>
                  
      
      <xs:element name="NPOLIS" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="ST_OKATO" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SMO" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SMO_OGRN" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SMO_OK" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="SMO_NAM" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="INV" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="MSE" type="xs:short"/>
                  
      
      <xs:element name="NOVOR" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="VNOV_D" type="xs:short"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="sluch">
            
    
    <xs:sequence>
                  
      
      <xs:element name="SL_ID" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="LPU_1" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="PODR" type="xs:long"/>
                  
      
      <xs:element name="PROFIL" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="PROFIL_K" type="xs:short"/>
                  
      
      <xs:element name="DET" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="P_CEL" type="xs:string"/>
                  
      
      <xs:element name="NHISTORY" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="P_PER" type="xs:short"/>
                  
      
      <xs:element name="DATE_1" type="xs:date"/>
                  
      
      <xs:element name="DATE_2" type="xs:date"/>
                  
      
      <xs:element minOccurs="0" name="KD" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="WEI" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="DS0" type="xs:string"/>
                  
      
      <xs:element name="DS1" type="xs:string"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DS2" type="xs:string"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DS3" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="C_ZAB" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="DN" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="CODE_MES1" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="CODE_MES2" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="KSG_KPG" type="KSG_KPG"/>
                  
      
      <xs:element minOccurs="0" name="REAB" type="xs:short"/>
                  
      
      <xs:element name="PRVS" type="xs:int"/>
                  
      
      <xs:element name="VERS_SPEC" type="xs:string"/>
                  
      
      <xs:element name="IDDOKT" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="ED_COL" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="TARIF" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="SUM_M" type="xs:decimal"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="LEK_PR" type="LEK_PR"/>
                  
      
      <xs:element maxOccurs="unbounded" name="USL" type="uslug"/>
                  
      
      <xs:element minOccurs="0" name="COMENTSL" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="krim" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="nstr" type="xs:int"/>
                  
      
      <xs:element minOccurs="0" name="DATE_XO" type="xs:date"/>
                  
      
      <xs:element minOccurs="0" name="MO_NPR" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="OTDEL_NPR" type="xs:int"/>
                  
      
      <xs:element minOccurs="0" name="PROF_NPR" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="PRIZN_NPR" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="NUM_NPR" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="PLAN_DATE_G" type="xs:date"/>
                  
      
      <xs:element minOccurs="0" name="TIME_G" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="KOD_ANATOM" type="xs:string"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="KSG_KPG">
            
    
    <xs:sequence>
                  
      
      <xs:element minOccurs="0" name="N_KSG" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="VER_KSG" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="KSG_PG" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="N_KPG" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="KOEF_Z" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="KOEF_UP" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="BZTSZ" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="KOEF_D" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="KOEF_U" type="xs:decimal"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CRIT" type="xs:string"/>
                  
      
      <xs:element name="SL_K" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="IT_SL" type="xs:decimal"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SL_KOEF" type="SL_KOEF"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="SL_KOEF">
            
    
    <xs:sequence>
                  
      
      <xs:element name="IDSL" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="Z_SL" type="xs:decimal"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="LEK_PR">
            
    
    <xs:sequence>
                  
      
      <xs:element name="DATA_INJ" type="xs:date"/>
                  
      
      <xs:element name="CODE_SH" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="REGNUM" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="COD_MARK" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="LEK_DOSE" type="LEK_DOSE"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="LEK_DOSE">
            
    
    <xs:sequence>
                  
      
      <xs:element name="ED_IZM" type="xs:string"/>
                  
      
      <xs:element name="DOSE_INJ" type="xs:decimal"/>
                  
      
      <xs:element name="METHOD_INJ" type="xs:string"/>
                  
      
      <xs:element name="COL_INJ" type="xs:int"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="uslug">
            
    
    <xs:sequence>
                  
      
      <xs:element name="IDSERV" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="N_s" type="xs:int"/>
                  
      
      <xs:element name="LPU" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="LPU_1" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="PODR" type="xs:long"/>
                  
      
      <xs:element name="PROFIL" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="VID_VME" type="xs:string"/>
                  
      
      <xs:element name="DET" type="xs:short"/>
                  
      
      <xs:element name="DATE_IN" type="xs:date"/>
                  
      
      <xs:element name="DATE_OUT" type="xs:date"/>
                  
      
      <xs:element name="DS" type="xs:string"/>
                  
      
      <xs:element name="CODE_USL" type="xs:string"/>
                  
      
      <xs:element name="KOL_USL" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="TARIF" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="SUMV_USL" type="xs:decimal"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MED_DEV" type="MED_DEV"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MR_USL_N" type="MR_USL_N"/>
                  
      
      <xs:element name="PRVS" type="xs:int"/>
                  
      
      <xs:element name="CODE_MD" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="NPL" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="COMENTU" type="xs:string"/>
                  
      
      <xs:element maxOccurs="unbounded" minOccurs="0" name="LEK" type="LEK"/>
                  
      
      <xs:element minOccurs="0" name="VBI" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="GILL" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="PR_UM" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="VID_TARIF" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="SUM_VIRT" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="POS_DOM" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="KOL_ANEST" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="KOL_DN_RE" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="SOV2" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="DOV2" type="xs:date"/>
                  
      
      <xs:element minOccurs="0" name="CNA_DOZ" type="xs:decimal"/>
                  
      
      <xs:element minOccurs="0" name="TM_SMP" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="AIM_SMP" type="xs:short"/>
                  
      
      <xs:element minOccurs="0" name="EKO" type="xs:short"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="MED_DEV">
            
    
    <xs:sequence>
                  
      
      <xs:element name="DATE_MED" type="xs:date"/>
                  
      
      <xs:element name="CODE_MEDDEV" type="xs:int"/>
                  
      
      <xs:element name="NUMBER_SER" type="xs:string"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="MR_USL_N">
            
    
    <xs:sequence>
                  
      
      <xs:element name="MR_N" type="xs:int"/>
                  
      
      <xs:element name="PRVS" type="xs:int"/>
                  
      
      <xs:element name="CODE_MD" type="xs:string"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
      
  
  <xs:complexType name="LEK">
            
    
    <xs:sequence>
                  
      
      <xs:element name="TRN" type="xs:string"/>
                  
      
      <xs:element name="FVP" type="xs:string"/>
                  
      
      <xs:element minOccurs="0" name="OPIS" type="xs:string"/>
                  
      
      <xs:element name="KOL_ls" type="xs:decimal"/>
                
    
    </xs:sequence>
          
  
  </xs:complexType>
  <xs:element name="ZL_LIST" type="svedMedpom"/>  

</xs:schema>
