src/main/resources/xsd/svedmedpom_t.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="schet">
      <xsd:sequence>
         <xsd:element name="CODE" type="xsd:int"/>
         <xsd:element name="CODE_MO" type="xsd:string"/>
         <xsd:element name="YEAR" type="xsd:short"/>
         <xsd:element name="MONTH" type="xsd:short"/>
         <xsd:element name="NSCHET" type="xsd:string"/>
         <xsd:element name="DSCHET" type="xsd:date"/>
         <xsd:element name="PLAT" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SUMMAV" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="COMENTS" type="xsd:string"/>
         <xsd:element name="SUMMAP" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_MEK" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_MEE" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SANK_EKMP" type="xsd:decimal" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="schetZap">
      <xsd:sequence>
         <xsd:element name="N_ZAP" type="xsd:int"/>
         <xsd:element name="PR_NOV" type="xsd:short"/>
         <xsd:element name="PACIENT" type="pacient"/>
         <xsd:element name="Z_SL" minOccurs="1">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IDCASE" type="xsd:long"/>
                  <xsd:element name="USL_OK" type="xsd:short"/>
                  <xsd:element name="VIDPOM" type="xsd:short"/>
                  <xsd:element name="FOR_POM" type="xsd:short"/>
                  <xsd:element name="NPR_MO" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="EXTR" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="NPR_DATE" type="xsd:date" minOccurs="0"/>
                  <xsd:element name="LPU" type="xsd:string"/>
                  <xsd:element name="DATE_Z_1" type="xsd:date"/>
                  <xsd:element name="DATE_Z_2" type="xsd:date"/>
                  <xsd:element name="KD_Z" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="VNOV_M" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                  <xsd:element name="RSLT" type="xsd:short"/>
                  <xsd:element name="ISHOD" type="xsd:short"/>
                  <xsd:element name="OS_SLUCH" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
                  <xsd:element name="SL" type="sluch" maxOccurs="unbounded"/>
                  <xsd:element name="IDSP" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="SUMV" type="xsd:decimal" minOccurs="0"/>
                  <xsd:element name="OPLATA" type="xsd:short" minOccurs="0"/>
                  <xsd:element name="SUMP" type="xsd:decimal" minOccurs="0"/>
                  <xsd:element name="SANK_IT" type="xsd:decimal" minOccurs="0"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="pacient">
      <xsd:sequence>
         <xsd:element name="ID_PAC" type="xsd:string"/>
         <xsd:element name="VPOLIS" type="xsd:short"/>
         <xsd:element name="SPOLIS" type="xsd:string" minOccurs="0"/>
         <xsd:element name="NPOLIS" type="xsd:string"/>
         <xsd:element name="ST_OKATO" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_OGRN" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_OK" type="xsd:string" minOccurs="0"/>
         <xsd:element name="SMO_NAM" type="xsd:string" minOccurs="0"/>
         <xsd:element name="MSE" type="xsd:short" minOccurs="0"/>
         <xsd:element name="NOVOR" type="xsd:string"/>
         <xsd:element name="VNOV_D" type="xsd:short" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="sluch">
      <xsd:sequence>
         <xsd:element name="SL_ID" type="xsd:string"/>
         <xsd:element name="VID_HMP" type="xsd:string" minOccurs="0"/>
         <xsd:element name="METOD_HMP" type="xsd:string"/>
         <xsd:element name="LPU_1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="PODR" type="xsd:long" minOccurs="0"/>
         <xsd:element name="PROFIL" type="xsd:short"/>
         <xsd:element name="PROFIL_K" type="xsd:short"/>
         <xsd:element name="DET" type="xsd:short"/>
         <xsd:element name="TAL_D" type="xsd:date"/>
         <xsd:element name="TAL_NUM" type="xsd:string"/>
         <xsd:element name="TAL_P" type="xsd:date"/>
         <xsd:element name="NHISTORY" type="xsd:string"/>
         <xsd:element name="DATE_1" type="xsd:date"/>
         <xsd:element name="DATE_2" type="xsd:date"/>
         <xsd:element name="KD" type="xsd:short"/>
         <xsd:element name="DS0" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DS1" type="xsd:string"/>
         <xsd:element name="DS2" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="DS3" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="C_ZAB" type="xsd:short" minOccurs="0"/>
         <xsd:element name="DS_ONK" type="xsd:short"/>
         <xsd:element name="CODE_MES1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="CODE_MES2" type="xsd:string" minOccurs="0"/>
         <xsd:element name="NAPR" type="NAPR" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="CONS" type="CONS" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="ONK_SL" type="onkSl" minOccurs="0"/>
         <xsd:element name="PRVS" type="xsd:int"/>
         <xsd:element name="VERS_SPEC" type="xsd:string"/>
         <xsd:element name="IDDOKT" type="xsd:string"/>
         <xsd:element name="ED_COL" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="TARIF" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SUM_M" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="USL" type="uslug" maxOccurs="unbounded"/>
         <xsd:element name="COMENTSL" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="uslug">
      <xsd:sequence>
         <xsd:element name="IDSERV" type="xsd:string"/>
         <xsd:element name="N_s" type="xsd:int" minOccurs="0"/>
         <xsd:element name="LPU" type="xsd:string"/>
         <xsd:element name="LPU_1" type="xsd:string" minOccurs="0"/>
         <xsd:element name="PODR" type="xsd:long" minOccurs="0"/>
         <xsd:element name="PROFIL" type="xsd:short"/>
         <xsd:element name="VID_VME" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DET" type="xsd:short"/>
         <xsd:element name="DATE_IN" type="xsd:date"/>
         <xsd:element name="DATE_OUT" type="xsd:date"/>
         <xsd:element name="DS" type="xsd:string"/>
         <xsd:element name="CODE_USL" type="xsd:string"/>
         <xsd:element name="KOL_USL" type="xsd:decimal"/>
         <xsd:element name="TARIF" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="SUMV_USL" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="PRVS" type="xsd:int"/>
         <xsd:element name="CODE_MD" type="xsd:string"/>
         <xsd:element name="COMENTU" type="xsd:string" minOccurs="0"/>
         <xsd:element name="LEK" type="LEK" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="onkSl">
      <xsd:sequence>
         <xsd:element name="DS1_T" type="xsd:short"/>
         <xsd:element name="STAD" type="xsd:short" minOccurs="0"/>
         <xsd:element name="ONK_T" type="xsd:short" minOccurs="0"/>
         <xsd:element name="ONK_N" type="xsd:short" minOccurs="0"/>
         <xsd:element name="ONK_M" type="xsd:short" minOccurs="0"/>
         <xsd:element name="MTSTZ" type="xsd:short" minOccurs="0"/>
         <xsd:element name="SOD" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="K_FR" type="xsd:short" minOccurs="0"/>
         <xsd:element name="WEI" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="HEI" type="xsd:short" minOccurs="0"/>
         <xsd:element name="BSA" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="B_DIAG" type="B_DIAG" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="B_PROT" type="B_PROT" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="ONK_USL" type="ONK_USL" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="svedMedpom">
      <xsd:sequence>
         <xsd:element name="ZGLV" type="zglv"/>
         <xsd:element name="SCHET" type="schet"/>
         <xsd:element name="ZAP" type="schetZap" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NAPR">
      <xsd:sequence>
         <xsd:element name="NAPR_DATE" type="xsd:date"/>
         <xsd:element name="NAPR_MO" type="xsd:string" minOccurs="0"/>
         <xsd:element name="NAPR_V" type="xsd:short"/>
         <xsd:element name="MET_ISSL" type="xsd:short" minOccurs="0"/>
         <xsd:element name="NAPR_USL" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CONS">
      <xsd:sequence>
         <xsd:element name="PR_CONS" type="xsd:short"/>
         <xsd:element name="DT_CONS" type="xsd:date" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEK">
      <xsd:sequence>
         <xsd:element name="TRN" type="xsd:string"/>
         <xsd:element name="FVP" type="xsd:string"/>
         <xsd:element name="OPIS" type="xsd:string" minOccurs="0"/>
         <xsd:element name="KOL_ls" type="xsd:decimal"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="B_DIAG">
      <xsd:sequence>
         <xsd:element name="DIAG_DATE" type="xsd:date"/>
         <xsd:element name="DIAG_TIP" type="xsd:short"/>
         <xsd:element name="DIAG_CODE" type="xsd:short"/>
         <xsd:element name="DIAG_RSLT" type="xsd:short" minOccurs="0"/>
         <xsd:element name="REC_RSLT" type="xsd:short" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="B_PROT">
      <xsd:sequence>
         <xsd:element name="PROT" type="xsd:short"/>
         <xsd:element name="D_PROT" type="xsd:date"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ONK_USL">
      <xsd:sequence>
         <xsd:element name="USL_TIP" type="xsd:short"/>
         <xsd:element name="HIR_TIP" type="xsd:short" minOccurs="0"/>
         <xsd:element name="LEK_TIP_L" type="xsd:short" minOccurs="0"/>
         <xsd:element name="LEK_TIP_V" type="xsd:short" minOccurs="0"/>
         <xsd:element name="LEK_PR" type="LEK_PR" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="PPTR" type="xsd:short" minOccurs="0"/>
         <xsd:element name="LUCH_TIP" type="xsd:short" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LEK_PR">
      <xsd:sequence>
         <xsd:element name="REGNUM" type="xsd:string"/>
         <xsd:element name="CODE_SH" type="xsd:string"/>
         <xsd:element name="DATE_INJ" type="xsd:date" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="zglv">
      <xsd:sequence>
         <xsd:element name="VERSION" type="xsd:string"/>
         <xsd:element name="DATA" type="xsd:date"/>
         <xsd:element name="FILENAME" type="xsd:string"/>
         <xsd:element name="SD_Z" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZL_LIST" type="svedMedpom"/>
</xsd:schema>
